.post-editor__sidebar {
	@extend .sidebar;

	@include breakpoint( "<660px" ) {
		position: relative;
		top: 0;
		left: 0;
		max-height: none;
		display: none;

		.focus-sidebar & {
			display: block;
			transform: none;
		}
	}
}

.editor-sidebar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.editor-sidebar__close.button.is-compact.is-borderless {
	align-self: center;
	line-height: 12px;
	padding: 8px;
	white-space: nowrap;
	max-width: 50%;
}

.editor-sidebar__header.is-loading:not( .is-drafts-visible ) .editor-sidebar__close {
	@include placeholder( $lighten-percentage: 20% );
	padding: 4px;
	margin: 4px;
}
